body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    border: 3px solid blue;
    padding: 0 2em 1em;
}

h1 {
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}

label {
    float: left;
    width: 10em;

}

input,
select {
    width: 15%;
    height: 2em;
    margin-bottom: 0.5em;
    clear: left
}


#calculate {
    border: 1px solid #273746;
    border-radius: 5px;
    padding: 4px;
    background-color: #273746;
    color: #fff;
    height: 3em;
    width: 80px;
}

#percent {
    width: 15%;
}

#subtotal_error {
    color: red;
    font-size: 80%;
}