/* Using google font for Floral Theme */
body
{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1
{
    margin-top: 15%;
}

/* Text box in banner for each theme */
#floralTextBox #aquaticTextBox
{
    position: absolute;
    display: none;
    z-index: 2;
}

/* imgContainer styling Begin*/
.uploadedImgContainer
{
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 0;
    overflow: visible;
    border: 2-x solid #333;
    box-sizing: border-box;
}

.uploadedImgContainer img 
{
    position: absolute;
    display: block;
    width: 180px;
    height: auto;
    cursor: move;
}
/* imgContainer styling End*/




/* Floral Image layout Begin */
#floralBanner
{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #ffdb8c;
    /* Hidden until floral theme is chosen */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* pointer-events: none; */
    text-align: left;
}

#floralTheme
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}

.flowerFrame
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../FloralImages/MarigoldFrame.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* z-index puts the frame behind all content */
    padding: 0;
    margin: 0;

    border-left: 42px solid #ffdb8c;
    border-right: 42px solid #ffdb8c;
    box-sizing: border-box;
    z-index: -1;
}


.goldFrame {
    position: absolute;
    top: 0;
    left: 0; 
    background-image: url("../FloralImages/PhotoFrame.png"); 
    background-size: 100% 100%;  
    background-repeat: no-repeat;
    z-index: 10;              
    pointer-events: auto;                   
    cursor: nwse-resize;     
    box-sizing: border-box;
    /* Only show if selected by javascript */
    display: none;

    /* To grab and resize */
    border: 3px solid transparent;
}

.imgFrameOverlay
{
    background-image: url("../FloralImages/PhotoFrame.png");
    /* This makes it so that the golden frame doesn't block the click
    event onto the trash can */
    pointer-events: none;
    background-size: 100% 100%;
    background-position: center;
    box-sizing: border-box;
    pointer-events: auto; /* allow interaction */
    top: 0;
    left: 0;
    width: 180px; /* initial size */
    height: auto;
}

/* Floral Image Layout End */



/* Aquatic Theme Start*/
#aquaticTheme
{
    display: none;
}

#aquaticBanner
{
    width: 100%;
    height: 100px;
    background-image: url("../AquaticImages/CoralPattern.jpg");
    /* Only repeats horizontally */
    background-repeat: repeat;
    background-size: 150px 150px;
    background-position: top center;
    /* Hidden until aquatic theme is chosen */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: left;
}
/* Aquatic Theme End*/

/* Random Theme Start */
#randomBanner 
{
    width: 100%;
    height: 100px;
    background-color: #ddd; /* TEMPORARY, change later */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: left;
}
/* Random Theme End */

.row
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column
{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img
{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 600px)
{
    .column
    {
        flex: 100%;
        max-width: 100%;
    }
}

img
{
    max-width: 80%;
    height: auto;
}

#previewContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.delete-btn
{
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.commentBox 
{
    position: absolute;
    background-color: #fff8c6; 
    border: 2px solid #444;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    cursor: move;
    resize: both;
    overflow: auto; 
}

.commentText
{
    min-width: 120px;
    min-height: 40px;
    padding: 5px;
    outline: none;
    overflow: auto;
    cursor: text;
}

.commentDeleteBtn 
{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}


.commentBox:hover .commentDeleteBtn 
{
    display: block;
}